@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #9FA092, #E2DED2, #D6B98F, #8F705B, #591711);
}

main {
    background-color: white;]
    border-radius: 10px;
    box-shadow: 10px 10px 10px #D6B98F;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: black;
    text-align: center;
    text-shadow: 1px 1px 2px blue;
}

h2 {
    color: blue;
}

p {
    text-align: justify;
}
